.advantages {
    padding: 73px 0px 83px 0px;
    @media (max-width: 1200px) {
        padding: 63px 0px 73px 0px;
    }
    @media (max-width: 768px) {
        padding: 53px 0;
    }
    @media (max-width: 400px) {
        padding: 43px 0;
    }
    &__container {
    }

    &__title {
        margin: 0px 0px 60px 0px;
        @media (max-width: 768px) {
            margin: 0px 0px 50px 0px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 5px;
        margin: 0 -15px;
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: start;
        }
    }

    &__column {
        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
        @media (min-width: 768px) {
            flex: 1 1 33.333%;
            padding: 0 15px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        @media (max-width: 576px) {
            width: 100%;
        }
    }
}

.item-advantages {
    &__icon {
        margin: 0px 0px 35px 0px;
        & img {
            max-width: 100%;
        }
        @media (max-width: 768px) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 161%;
        margin: 0px 0px 20px 0px;
        @media (max-width: 768px) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 125%;
    }

    &__link {
        text-transform: uppercase;
        color: #ff0000;
    }
}
