//<Standard font>===========================================================================================

$fontfamaly: "MuseoSansCyrl";

//</Standard font>==========================================================================================

$maxWidthContainer: 980px;
$maxWidth: 200px;
