//<Base>=======================================================================================================

@import "base/fonts";
@import "base/mixins";
@import "base/function";
@import "base/variables";
@import "base/ibg";
@import "base/nullstyle";
@import "base/common";

//</Base>=====================================================================================================

//<Connecting HEADER AND FOOTER>==============================================================================

@import "blocks/header";
@import "blocks/footer";

//</Connecting page styles and elements>=====================================================================

//<Wrapper>==================================================================================================

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 576px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;

    &__fullscreen {
    }
    &__advantages {
    }
    &__rewievs {
    }
    &__catalog {
    }
}

//</Main grid>===============================================================================================

//===========================================================================================================

//</Main block>==============================================================================================

//<Fullscreen>=================================================================================================

@import "blocks/main/_fullscreen";

//</Fullscreen>=================================================================================================

//<Advantages>=================================================================================================

@import "blocks/main/advantages";

//</Advantages>=================================================================================================

//<Consultation>=================================================================================================

@import "blocks/main/consultation";

//</Consultation>=================================================================================================

//<Slider>=================================================================================================

@import "blocks/main/slider";

//</Slider>=================================================================================================

//<Catalog>=================================================================================================

@import "blocks/main/catalog";

//</Catal>=================================================================================================

//<Rewievs>=================================================================================================

@import "blocks/main/rewievs";

//</Rewievs>=================================================================================================

//<Modal>=================================================================================================

@import "blocks/modal";

//</Modal>=================================================================================================

//</Main block>==============================================================================================

//===========================================================================================================

.hide {
    display: none;
}

.show {
    display: block;
}
