//<Base>=======================================================================================================
@import "base/_fonts";
@import "base/_mixins";
@import "base/function";
@import "base/_variables";
@import "base/_ibg";

//</Base>=====================================================================================================

//<Connecting HEADER AND FOOTER>=======================================================================

@import "blocks/_header";
@import "blocks/_footer";

//</Connecting page styles and elements>=====================================================================

//<Zeroing and Common parameters>===========================================================================

@import "base/_nullstyle";

html,
body {
    font-family: $fontfamaly;
    font-size: 16px;
    font-weight: 500;
    color: #0d0d0d;
}

.title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 100%;
    text-align: center;
}

.btn {
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c70101;
    padding: 12px 28px;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 162.5%;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    &:hover {
        transform: scale(1.025);
        transition: all 0.5s ease 0s;
        box-shadow: 0px 1px 10px 3px #fff;
    }
    &:active {
        transform: scale(0.9);
        box-shadow: 0px 1px 5px 0px #fff;
    }
}

//</Zeroing and Common Parameters>===========================================================================

//<Wrapper>==================================================================================================

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 576px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;

    &__fullscreen {
    }
    &__advantages {
    }
    &__rewievs {
    }
}

//</Main grid>===============================================================================================

//===========================================================================================================

//</Main block>==============================================================================================

//<Fullscreen>=================================================================================================

@import "blocks/main/_fullscreen";

//</Fullscreen>=================================================================================================

//<Advantages>=================================================================================================

@import "blocks/main/_advantages";

//</Advantages>=================================================================================================

//<Consultation>=================================================================================================

@import "blocks/main/consultation";

//</Consultation>=================================================================================================

//<Rewievs>=================================================================================================

@import "blocks/main/_rewievs";

//</Rewievs>=================================================================================================

//</Main block>==============================================================================================

//===========================================================================================================
